@model Dictionary<int, StoreFront.UI.MVC.Models.CartItemViewModel>
@{
    ViewData["Title"] = "Cart";

    decimal? cartTotal = 0;
}

<section>
    <div class="container">
        @if (Model.Count == 0)
        {
            <p class="alert alert-warning text-center">
                @ViewBag.Message
            </p>
        }
        else
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Total</th>
                        <th>Actions</th>
                    </tr>

                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <img src="~/img/t_@item.Value.Product.ProductImage" alt="@item.Value.Product.ProductName">
                            </td>
                            <td>
                                <form asp-action="UpdateCart">
                                    <input type="hidden" name="productId" value="@item.Key">
                                    <input type="number" name="qty" value="@item.Value.Qty" class="form-control d-block mx-auto text-center w-50" min="1" max="@item.Value.Product.UnitsInStock">
                                    <input type="submit" value="Update Cart" class="btn btn-primary btn-sm">

                                </form>
                            </td>
                            <td>
                                @item.Value.Product.ProductName
                            </td>
                            <td>
                                @string.Format($"{item.Value.Product.SellPrice:c}")
                            </td>
                            <td>
                                @{
                                    decimal? lineTotal = item.Value.Qty * item.Value.Product.SellPrice;

                                    cartTotal += lineTotal;
                                }

                                @string.Format($"{lineTotal:c}")
                            </td>
                            <td>
                                <a asp-action="RemoveFromCart" asp-controller="ShoppingCart" asp-route-id="@item.Value.Product.Id " class="btn btn-danger">Remove from Cart</a>
                            </td>

                        </tr>

                    }

                </tbody>

            </table>

            <div class="alert alert-success text-center">

                <p>
                    Your total, before taxes and shipping, is @string.Format($"{cartTotal:c}").
                </p>

                @if (User.Identity.IsAuthenticated)
                {
                    <a asp-action="SubmitOrder" asp-controller="ShoppingCart" class="btn btn-primary">
                        Submit Order
                    </a>
                }
                else
                {
                    <p>
                        To place this order, you must be <a asp-area="Identity" asp-page="/Account/Login">logged in</a>
                    </p>
                    <button disabled="disabled" class="btn btn-primary">Submit Order</button>
                }
            </div>

        }
    </div>
</section>